body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(9, 5, 27);
}

.container {
  width: 35%;
  border-radius: 10px;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(27, 27, 68);
}

.container .head {
  width: 100%;
  text-align: center;
}

.container .head h1 {
  color: white;
}

.container .head .search {
  display: block;
  width: 100%;
  position: relative;
}

.container .head .search input {
  width: 90%;
  height: 30px;
  border-radius: 20px;
}

.container .head button {
  height: 35px;
  min-width: 15%;
  border-radius: 20px;
  position: absolute;
  right: 20px;
  background-color: orangered;
  font-size: larger;
}

.container .list {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
}

.newList {
  margin: 10px auto;
  width: 90%;
  height: 30px;
  background-color: white;
  padding: 5px;
  line-height: 30px;
}
